html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    background-color: #000;
    opacity: 1;
}


.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.nav-item dropdown{
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}



/* Dropdown menu */
.dropdown {
    position: absolute;
    display: grid;
}

.dropdown-menu {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    display: none;
    position: absolute;
    z-index: 2;
}

    .dropdown-menu > li > a {
        text-align: center;
        width: 100px;
        padding: 80px 200px;
        display: block;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            background-color: #f5f5f5;
            color: #262626;
            text-decoration: none;
        }

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
    vertical-align: middle;
    content: "";
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown.open:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 5px;
    vertical-align: middle;
    content: "";
    border-bottom: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}