
.body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    margin: 100px;
    padding: 0;
}

.g1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #666;
    margin-bottom: 40px;
    text-align: center;
}

.g2 {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-bottom: 40px;
    text-align: center;
}

.h1 {
    font-size: 48px;
    font-weight: 700;
    color: #333;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}


.greyBar {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #333;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #666;
}

